@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

@mixin section-padding {
  padding: 60px 0;
}